
<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Vapor Chat</title>
        
    </head>

    <body>
        <script src="scripts/hoster.js"></script>
         <script>
             /**
            var chat = new Chat(window.location.host + "/chat");
            chat.sayHello();
            var btn = document.createElement("BUTTON");        // Create a <button> element
            var t = document.createTextNode("CLICK ME");       // Create a text node
            btn.appendChild(t);                                // Append the text to <button>
            document.body.appendChild(btn);
            btn.addEventListener("click", function(){
                                        document.getElementById("demo").innerHTML = "Hello World";
                                 chat.sayHello();
                                                              });
              **/
        </script>
         <p id="demo"></p>
</body>
</html>
